#game{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    overflow: hidden;
    transform: translate3d(0,-100%,0);
    &.active{
        transform: translate3d(0,0,0);
        transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
        #container{
            transform: translate3d(0,0,0);
            transition: transform 1s cubic-bezier(0.83, 0, 0.17, 1);
        }
        &.out{
            transform: translate3d(0,100%,0);
            #container{
                transform: translate3d(0,-100%,0);
            }
        }
    }
    #container{
        width:100%;
        height: 100%;
        display: block;
        background:#3e5bb7;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        transform: translate3d(0,100%,0);
    }
    .fix{
        width:100%;
        height:100%;
        position: absolute;
        top:0;
        overflow: hidden;
    }
    .horizontal{
        #slider{
            #cart{
                width: 55.5vh;
                top: 15vh;
            }
            #texts{
                font-size: 3.9vh;
                .tc{
                    font-size: 3.1vh;
                }
            }
            #product{
                width:3.8vh;
                top: 3vh;
                left: -4.4vh;
                #rader{
                    &:before{
                        width: 6vh;
                        height: 6vh;
                    }
                    span{
                        width: 6vh;
                        height: 6vh;
                    }
                }
            }
        }
        #question{
            width: 60vw;
            right: 0;
            overflow: visible;
            #symbol {
                font-size: 25vh;
            }
            #title {
                width:90%;
                font-size: 3.5vh;
                line-height: 4.5vh;
                margin-top: -12vh;
                .tc{
                    font-size: 5vh;
                    line-height: 6.5vh;
                    padding-top:1vw;
                }
            }
            #smallTitle {
                width: 48.5%;
                font-size: 2vh;
                line-height: 2.7vh;
                left: -60%;
                top: 6vh;
                .tc{
                    font-size: 2.94vh;
                    line-height: 4vh;
                    padding-top:1vw;
                }
            }
            #tips {
                font-size: 4vh;
                &.tc{
                    font-size: 4vh;
                }
            }
        }
        #clock{
            top: 83%;
            text-align: center;
            &>div{
                display: inline-block;
            }
            #time {
                font-size: 6vh;
            }
            &>.text{
                margin-left: .8vh;
                letter-spacing: 0;
            }
        }
        #timesupBg {
            top: 50%;
        }
        #complete{
            #title {
                font-size: 6vh;
                margin-top: 8vh;
            }
            span{
                display: inline-block;
                padding: 0 .2vw;
            }
            #tips {
                top: 87vh;
            }
            #lose{
                top: 86vh;
                font-size: 5vh;
            }
        }
        #nextOffer{
            font-size: 4vh;
            line-height: 5vh;
            padding: 10vh 10vh 0;
            #big {
                font-size: 11vh;
                padding-top:2vw;
            }
            .tc{
                font-size: 3.3vh;
                line-height: 4.3vh;
                padding-top:.3vw;
            }
        }
        #seeyou {
            font-size: 5vh;
            line-height: 5.5vh;
            padding: 5vh 10vh 0;
            .tc{
                font-size: 4.1vh;
                line-height: 5.1vh;
                padding-top:.5vw;
            }
        }
        .character{
            &#character1{
                .wrap{
                    top: 18vh;
                    left: -19vh;
                }
            }
            &#character2{
                .wrap{
                    top:27.5vh;
                    left:14.6vh;
                    box-shadow: 3vh 1.5vh 0 #333;
                }
            }
        }
    }
    #limitedOffer{
        display: flex;
        top:0;
        #warningBg{
            width:100%;
            height:100%;
            display: block;
            position: absolute;
            top:0;
            background:#fff;
            animation: warning 1s ease-in-out infinite;
            opacity: 0;
        }
        .col{
            width:50%;
            font-size: 11vw;
            line-height: 14vw;
            .wrap{
                width:100%;
                will-change: transfrom;
            }
            &#left{
                .wrap{
                    padding-left:5.75vw;
                    padding-right:2.25vw;
                    animation: left 3.6s linear infinite;
                }
            }
            &#right{
                .wrap{
                    padding-left:2.25vw;
                    padding-right:5.75vw;
                    animation: right 3.6s linear infinite;
                }
            }
            div{
                padding:2vw 0;
                color:#ea7da4;
                &:nth-child(3n+2){
                    color:#58c5c8;
                }
                &:nth-child(3n+3){
                    color:#f9c05d;
                }
                span{
                    text-align: left;
                    display: inline-block;
                }
            }
        }
    }
    #slider{
        #buttons{
            width:19vh;
            position: absolute;
            top:9.6vh;
            left:50%;
            transform: translate3d(-50%,0,0);
            display: flex;
            justify-content: space-between;
            div{
                width:5.4vh;
                height:1.1vh;
                border-radius: 1vw;
                background:#fff;
                opacity: .5;
                &:first-child{
                    opacity: 1;
                }
            }
        }
        #texts{
            width:100vw;
            position: absolute;
            top:16vh;
            left:50%;
            transform: translate3d(-50%,0,0);
            font-size: 2.5vh;
            color:#fff;
            text-align: center;
            .tc{
                font-size: 2.1vh;
                &:nth-child(3){
                    padding-top:1.5vh;
                }
            }
            div{
                width: 100%;
                position: absolute;
                top:0;
                left:50%;
                transform: translate3d(-50%,0,0);
            }
            span{
                width: 100%;
                display: block;
            }
        }
        #cart{
            width:40.5vh;
            position: absolute;
            top:10vh;
            left: 1vh;
            transform: translate3d(-50%,-50%,0);
        }
        #product{
            width:2.8vh;
            position: absolute;
            top: 1vh;
            left: -3vh;
            svg{
                animation: float 3s ease-in-out infinite;
            }
            #rader{
                &:before{
                    content:'';
                    width:5vh;
                    height:5vh;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate3d(-50%,-60%,0);
                    background:#fff;
                    opacity: .4;
                    border-radius: 50%;
                }
                span{
                    width:5vh;
                    height:5vh;
                    border:.1vh solid #fff;
                    border-radius: 50%;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate3d(-50%,-60%,0) scale(0);
                    animation: rader 1.6s ease infinite;
                    &:nth-child(2){
                        animation-delay: .45s;
                    }
                }
            }
        }
    }
    #question{
        padding:3vh 5vh 0;
        #symbol{
            font-size: 20vh;
            color:#fff;
        }
        #title{
            color:#fff;
            font-size: 2vh;
            line-height: 2.5vh;
            margin-top: -8vh;
            span{
                display: block;
            }
            .tc{
                font-size: 2.7vh;
                line-height: 3.7vh;
                padding-top:1vw;
            }
        }
        #smallTitle{
            width: 80%;
            font-size: 1.5vh;
            line-height: 2.3vh;
            color: #fff;
            position: absolute;
            top: 5vh;
            span{
                width:100%;
                display: inline-block;
                opacity: 0;
                visibility: hidden;
            }
            .tc{
                font-size: 2.3vh;
                line-height: 3vh;
                padding-top:2vw;
            }
        }
        #tips{
            color:#42d3d3;
            font-size: 2.5vh;
            margin-top:4vh;
            &.tc{
                font-size: 2.5vh;
                margin-top:0;
            }
        }
    }
    #ready{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            position: absolute;
            top:50%;
            left:50%;
            font-size:365px;
            color:#fff;
            transform: translate3d(-50%,-50%,0) scale(0);
        }
        #bg{
            width:100%;
            height:100%;
            background:#3e5bb7;
            position: relative;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }
    }
    #clock{
        width:100%;
        font-size: 3vh;
        color:#58c5c8;
        position: absolute;
        top: 70%;
        text-align: center;
        #time{
            font-size: 6vh;
            color:#fff;
        }
        #timesup{
            // width:100%;
            font-size: 6vh;
            color:#fff;
            position: absolute;
            top:0;
            left: 50%;
            transform: translate3d(-50%,0,0);
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
        }
    }
    #timesupBg{
        width: 100px;
        height: 100px;
        position: absolute;
        top:45%;
        left:50%;
        z-index: -1;
        border-radius: 50%;
        background:#ea7da4;
        transform: translate3d(-50%,-50%,0) scale(0);
        span{
            width: 100px;
            height: 100px;
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            border-radius: 50%;
            background:#3e5bb7;
            transform: translate3d(-50%,-50%,0) scale(0);
        }
    }
    #complete{
        color:#fff;
        position: relative;
        text-align: center;
        span{
            display: block;
        }
        #title{
            font-size: 4vh;
            line-height: 5vh;
            margin-top:3vh;
            .tc{
                font-size: 3vh;
                line-height: 3vh;
                padding-top: 1vh;
                display: block;
            }
        }
        #tips{
            width: 100%;
            font-size: 2vh;
            line-height: 3vh;
            position: absolute;
            top:75vh;
        }
        #lose{
            width: 100%;
            font-size: 4vh;
            line-height: 5vh;
            position: absolute;
            top:75vh;
            .tc{
                font-size: 3vh;
                line-height: 3vh;
                padding-top: 1vh;
            }
        }
    }
    #nextOffer{
        color:#fff;
        font-size: 2.5vh;
        line-height: 3.4vh;
        padding:5vh 5vh 0;
        #big{
            font-size: 6vh;
            line-height: 9vh;
        }
        span{
            display: block;
        }
        .tc{
            font-size: 2vh;
            line-height: 3vh;
        }
    }
    #seeyou{
        color:#fff;
        font-size: 5vh;
        line-height: 5.5vh;
        padding:5vh 5vh 0;
        span{
            display: block;
        }
        .tc{
            font-size: 4vh;
            line-height: 5vh;
            padding-top:1vw;
        }
        #seeyouBg{
            width: 100px;
            height: 100px;
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            border-radius: 50%;
            background:#42d3d3;
            transform: translate3d(-50%,-50%,0) scale(0);
            z-index: -1;
        }
    }
    .center{
        width:0;
        height:0;
        position: absolute;
        top:50%;
        left:50%;
    }
    #shapesWrap{
        position: relative;
        z-index: -1;
        .shape{
            width:3.5vh;
            height:3.5vh;
            position: absolute;
            top:0;
            left:0;
            transform: translate3d(-50%,-50%,0);

            background-size: contain;
            background-repeat: no-repeat;
            z-index: 999;
            &._1{
                background-image:url('./images/circle.svg');
            }
            &._2{
                background-image:url('./images/circle2.svg');
            }
            &._3{
                background-image:url('./images/rect.svg');
            }
            &._4{
                background-image:url('./images/half.svg');
            }
        }
    }
    .character{
        position: absolute;
        transform: translate3d(-50%,-50%,0);
        .wrap{
            width:100%;
            height:100%;
            border-radius: 50%;
            position: absolute;
            &.stop{
                animation:none !important;
            }
            .eyes{
                top:20%;
                left:50%;
                transform: translate3d(-50%,0,0);
                span{
                    transform: translate3d(0,0,0) scale(1);
                    animation: wink 2s ease infinite;
                }
            }
            // &.toClock{
            //     box-shadow: none;
            // }
        }
        &#character1{
            width:30vh;
            height:30vh;
            z-index: -1;
            .wrap{
                top: 12vh;
                left: -14vh;
                background:#42d3d3;
                box-shadow: -2vh 1vh 0 #333;
                // &.lookup{
                //     .eyes{
                //         animation: moveeyes2 5s ease infinite;
                //     }
                // }
                // &.lookdown{
                //     .eyes{
                //         transform: translate3d(0,600%,0);
                //         animation: lookdown 5s ease infinite;
                //     }
                // }
                // .eyes{
                    // animation: moveeyes 5s ease infinite;
                // }
                #pointer{
                    width:0;
                    height:0;
                    position: absolute;
                    top:50%;
                    left:50%;
                    span{
                        display: inline-block;
                        border-radius:2vh;
                        &:nth-child(1){
                            width:3.5vh;
                            height:12vh;
                            background:#fff;
                            transform: translate3d(-50%, calc(-100% + 1.75vh),0);
                        }
                        &:nth-child(2){
                            width: 2.2vh;
                            height: 2.2vh;
                            background:#ea7da4;
                            transform: translate3d(-50%,-50%,0);
                            position: absolute;
                            top: 0;
                        }
                    }
                }
            }
        }
        &#character2{
            width:30vh;
            height:30vh;
            .wrap{
                top: 19.5vh;
                left: 10.6vh;
                background:#ea7da4;
                box-shadow: 4vh 2.5vh 0 #333;
                // animation: jump 2s ease infinite alternate-reverse;
                .eyes{
                    width:16%;
                    height: 6%;
                    // top:20%;
                    // left:50%;
                    // transform: translate3d(-50%,0,0);
                    // animation: moveeyes2 5s ease infinite 3s;
                    span{
                        border-radius: 2vw;
                        animation-delay: 5s;
                        // animation-direction: reverse;
                    }
                }
                #qrcode{
                    padding: 22%;
                    svg{
                        width:100%;
                        height:100%;
                        // border: .4vh solid #fff;
                    }
                }
            }
        }
        .eyes{
            width:15%;
            height: 6%;
            position: absolute;
            top:0;
            left:50%;
            display: flex;
            justify-content: space-between;
            span{
                width:25%;
                height:100%;
                border-radius: 1vw;
                background:#333;
                display: inline-block;
            }
        }
    }
}

@keyframes left {
    from{
        transform: translate3d(0,-191.4vw,0);
    }
    to{
        transform: translate3d(0,0vw,0);
    }
}

@keyframes right {
    from{
        transform: translate3d(0,0vw,0);
    }
    to{
        transform: translate3d(0,-191.4vw,0);
    }
}

@keyframes warning {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .15;
    }
    100%{
        opacity: 0;
    }
}

@keyframes float{
    0%{
        transform: translate3d(0,-50%,0);
    }
    50%{
        transform: translate3d(0,0%,0);
    }
    100%{
        transform: translate3d(0,-50%,0);
    }
}

@keyframes wink{
    0%{
        transform: translate3d(0,0,0) scale(1, 0);
    }
    5%{
        transform: translate3d(0,0,0) scale(1, 1);
    }
    10%{
        transform: translate3d(0,0,0) scale(1, 0);
    }
    15%{
        transform: translate3d(0,0,0) scale(1, 1);
    }
}

// @keyframes moveeyes{
//     30%{
//         transform: translate3d(0,0%,0);
//     }
//     60%{
//         transform: translate3d(50%,0%,0);
//     }
//     80%{
//         transform: translate3d(30%,-100%,0);
//     }
// }

// @keyframes moveeyes2{
//     30%{
//         transform: translate3d(0,0%,0);
//     }
//     60%{
//         transform: translate3d(-50%,0%,0);
//     }
//     80%{
//         transform: translate3d(-30%,-100%,0);
//     }
// }

// @keyframes lookdown{
//     30%{
//         transform: translate3d(0,600%,0);
//     }
//     60%{
//         transform: translate3d(0%,700%,0);
//     }
//     80%{
//         transform: translate3d(0%,600%,0);
//     }
// }

@keyframes jump{
    0%{
        transform: translate3d(0,-50%,0);
    }
    10%{
        transform: translate3d(0,0%,0);
    }
    20%{
        transform: translate3d(0,-30%,0);
    }
    30%{
        transform: translate3d(0,0%,0);
    }
}

@keyframes rader{
    0%{
        transform: translate3d(-50%,-60%,0) scale(0);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    // 80%{
    //     opacity: 0;
    // }
    100%{
        transform: translate3d(-50%,-60%,0) scale(2.5);
        opacity: 0;
    }
}