*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Black.woff2') format('woff2'),
      url('./fonts/Inter-Black.woff') format('woff'),
      url('./fonts/Inter-Black.ttf') format('truetype'),
      url('./fonts/Inter-Black.svg#Inter-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '';
  src: url('./fonts/NotoSansTC-Bold-Alphabetic.woff2') format('woff2'),
      url('./fonts/NotoSansTC-Bold-Alphabetic.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

.tc{
  font-family: 'Noto Sans TC';
  font-weight: bold;
  /* -webkit-text-stroke: .05vw; */
}

html, body{
  width:100%;
  height:100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  letter-spacing: .1vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#bodiesWrap *{
  pointer-events: none;
  transform-origin: center center;
}

#bodiesWrap .eye{
  border-radius: 50%;
}

#bodiesWrap .content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate3d(-50%,-50%,0);
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  font-size:12px;
}

#scene3d{
  width:100%;
  height:100%;
  overflow: hidden;
}